body {
  padding-top: 5rem;
}

.centre {
  text-align: center;
}

.page-content {
  padding: 1.5rem 1.5rem;
}

.img-bkgrnd {
  background-image: url(../images/background.jpg);
  background-size: cover;
}

ul {
  list-style-image: url(../images/bullet_blue_cropped_scaled.png);
}

.top-pad-10 {    
    padding: 10px 0px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

