.ui-widget {
    font-size: 80%;
}
.jobNumberClass {
    width: 100%;
    color: orange;
}  
.editableclass {
    background-color: lightgoldenrodyellow !important;
}
.hold {
    color: red;
    font-size: 1.2em;
    background-image: none;
    font-weight: bolder;
}
.active {
    color: green;
    font-size: 1.2em;
    background-image: none;
    font-weight: bolder;
}   
.due {
    background-color: yellow;
    background-image: none;
    color: #000000;
}
.overdue {
    background-color: yellow;
    background-image: none;
    color: #000000;
}
.lightgreybg {
    background-color:lightgrey;
    background-image: none;
    color: #000000;
}
.lightsteelbg {
    background-color:lightsteelblue;
    background-image: none;
    color: #000000;
}
.header {
    background-color: gray;
    background-image: none;
    color: white;
}
.rdonly {
    background-color: lightgrey;
    background-image: none;
    color: blue;
}
.default {
    background-color: white;
    background-image: none;
    color: black;
}     
.job-number {
    font-weight: bold;
    font-size: 14px;
    //border:solid 2px #005580;
    padding: 3px;
    width: 100%;
    box-shadow: 5px;
}   

.read-only-inputfield .ui-inputfield {
    background-color: lightyellow !important;
}