<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ComplianceDBPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>jdbc/__JMTSPoolTest</non-jta-data-source>
    <class>jm.com.dpbennett.entity.CompanyRegistration</class>
    <class>jm.com.dpbennett.entity.ComplianceProductSurvey</class>
    <class>jm.com.dpbennett.entity.Contact</class>
    <class>jm.com.dpbennett.entity.CostCode</class>
    <class>jm.com.dpbennett.entity.CostComponent</class>
    <class>jm.com.dpbennett.entity.DatePeriod</class>
    <class>jm.com.dpbennett.entity.Department</class>
    <class>jm.com.dpbennett.entity.DepartmentReport</class>
    <class>jm.com.dpbennett.entity.Distributor</class>
    <class>jm.com.dpbennett.entity.Division</class>
    <class>jm.com.dpbennett.entity.DocumentReport</class>
    <class>jm.com.dpbennett.entity.DocumentSequenceNumber</class>
    <class>jm.com.dpbennett.entity.DocumentType</class>
    <class>jm.com.dpbennett.entity.Employee</class>
    <class>jm.com.dpbennett.entity.FactoryInspection</class>
    <class>jm.com.dpbennett.entity.FactoryInspectionComponent</class>
    <class>jm.com.dpbennett.entity.FoodFactory</class>
    <class>jm.com.dpbennett.entity.FoodProduct</class>
    <class>jm.com.dpbennett.entity.FoodSample</class>
    <class>jm.com.dpbennett.entity.FoodTest</class>
    <class>jm.com.dpbennett.entity.Internet</class>
    <class>jm.com.dpbennett.entity.Job</class>
    <class>jm.com.dpbennett.entity.JobCategory</class>
    <class>jm.com.dpbennett.entity.JobCosting</class>
    <class>jm.com.dpbennett.entity.JobCostingAndPayment</class>
    <class>jm.com.dpbennett.entity.JobManagerUser</class>
    <class>jm.com.dpbennett.entity.JobReportItem</class>
    <class>jm.com.dpbennett.entity.JobSample</class>
    <class>jm.com.dpbennett.entity.JobSequenceNumber</class>
    <class>jm.com.dpbennett.entity.JobStatusAndTracking</class>
    <class>jm.com.dpbennett.entity.JobSubCategory</class>
    <class>jm.com.dpbennett.entity.JobTask</class>
    <class>jm.com.dpbennett.entity.Laboratory</class>
    <class>jm.com.dpbennett.entity.LegalDocument</class>
    <class>jm.com.dpbennett.entity.Manufacturer</class>
    <class>jm.com.dpbennett.entity.MarketProduct</class>
    <class>jm.com.dpbennett.entity.MarketProductSurvey</class>
    <class>jm.com.dpbennett.entity.PetrolCompany</class>
    <class>jm.com.dpbennett.entity.PetrolPump</class>
    <class>jm.com.dpbennett.entity.PetrolPumpCalibration</class>
    <class>jm.com.dpbennett.entity.PetrolPumpCalibrationValue</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzle</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzleCalibration</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzleCalibrationPoint</class>
    <class>jm.com.dpbennett.entity.PetrolStation</class>
    <class>jm.com.dpbennett.entity.PhoneNumber</class>
    <class>jm.com.dpbennett.entity.PortOfEntryDetention</class>
    <class>jm.com.dpbennett.entity.Privilege</class>
    <class>jm.com.dpbennett.entity.ProductTest</class>
    <class>jm.com.dpbennett.entity.Registration</class>
    <class>jm.com.dpbennett.entity.Report</class>
    <class>jm.com.dpbennett.entity.ReportTableColumn</class>
    <class>jm.com.dpbennett.entity.SampleRequest</class>
    <class>jm.com.dpbennett.entity.Scale</class>
    <class>jm.com.dpbennett.entity.ScaleCompany</class>
    <class>jm.com.dpbennett.entity.Seal</class>
    <class>jm.com.dpbennett.entity.Sector</class>
    <class>jm.com.dpbennett.entity.ServiceContract</class>
    <class>jm.com.dpbennett.entity.StandardsOrganization</class>
    <class>jm.com.dpbennett.entity.Sticker</class>
    <class>jm.com.dpbennett.entity.SystemOption</class>
    <class>jm.com.dpbennett.entity.TestMeasure</class>
    <class>jm.com.dpbennett.entity.AccPacCustomer</class>
    <class>jm.com.dpbennett.entity.AccPacDocument</class>
    <class>jm.com.dpbennett.entity.Address</class>
    <class>jm.com.dpbennett.entity.Asset</class>
    <class>jm.com.dpbennett.entity.Business</class>
    <class>jm.com.dpbennett.entity.BusinessOffice</class>
    <class>jm.com.dpbennett.entity.CashPayment</class>
    <class>jm.com.dpbennett.entity.Category</class>
    <class>jm.com.dpbennett.entity.Certification</class>
    <class>jm.com.dpbennett.entity.Classification</class>
    <class>jm.com.dpbennett.entity.Client</class>
    <class>jm.com.dpbennett.entity.GeneratedForm</class>
    <class>jm.com.dpbennett.entity.JobCostingBatch</class>
    <class>jm.com.dpbennett.entity.Service</class>
    <class>jm.com.dpbennett.entity.ServiceRequest</class>
    <class>jm.com.dpbennett.entity.SequenceNumber</class>
    <class>jm.com.dpbennett.entity.Country</class>
    <class>jm.com.dpbennett.entity.ComplianceSurvey</class>
    <class>jm.com.dpbennett.entity.ComplianceDailyReport</class>
    <class>jm.com.dpbennett.entity.DocumentStandard</class>
    <class>jm.com.dpbennett.entity.Signature</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="JMTSWebAppPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>jdbc/__JMTSPoolTest</non-jta-data-source>
    <class>jm.com.dpbennett.entity.Address</class>
    <class>jm.com.dpbennett.entity.Asset</class>
    <class>jm.com.dpbennett.entity.Business</class>
    <class>jm.com.dpbennett.entity.BusinessOffice</class>
    <class>jm.com.dpbennett.entity.CashPayment</class>
    <class>jm.com.dpbennett.entity.Category</class>
    <class>jm.com.dpbennett.entity.Certification</class>
    <class>jm.com.dpbennett.entity.Classification</class>
    <class>jm.com.dpbennett.entity.Client</class>
    <class>jm.com.dpbennett.entity.CompanyRegistration</class>
    <class>jm.com.dpbennett.entity.ComplianceProductSurvey</class>
    <class>jm.com.dpbennett.entity.Contact</class>
    <class>jm.com.dpbennett.entity.CostCode</class>
    <class>jm.com.dpbennett.entity.CostComponent</class>
    <class>jm.com.dpbennett.entity.DatePeriod</class>
    <class>jm.com.dpbennett.entity.Department</class>
    <class>jm.com.dpbennett.entity.DepartmentReport</class>
    <class>jm.com.dpbennett.entity.Distributor</class>
    <class>jm.com.dpbennett.entity.Division</class>
    <class>jm.com.dpbennett.entity.DocumentReport</class>
    <class>jm.com.dpbennett.entity.DocumentSequenceNumber</class>
    <class>jm.com.dpbennett.entity.DocumentType</class>
    <class>jm.com.dpbennett.entity.Employee</class>
    <class>jm.com.dpbennett.entity.FactoryInspection</class>
    <class>jm.com.dpbennett.entity.FactoryInspectionComponent</class>
    <class>jm.com.dpbennett.entity.FoodFactory</class>
    <class>jm.com.dpbennett.entity.FoodProduct</class>
    <class>jm.com.dpbennett.entity.FoodSample</class>
    <class>jm.com.dpbennett.entity.FoodTest</class>
    <class>jm.com.dpbennett.entity.Internet</class>
    <class>jm.com.dpbennett.entity.Job</class>
    <class>jm.com.dpbennett.entity.JobCategory</class>
    <class>jm.com.dpbennett.entity.JobCosting</class>
    <class>jm.com.dpbennett.entity.JobCostingAndPayment</class>
    <class>jm.com.dpbennett.entity.JobManagerUser</class>
    <class>jm.com.dpbennett.entity.JobSample</class>
    <class>jm.com.dpbennett.entity.JobSequenceNumber</class>
    <class>jm.com.dpbennett.entity.JobStatusAndTracking</class>
    <class>jm.com.dpbennett.entity.JobSubCategory</class>
    <class>jm.com.dpbennett.entity.JobTask</class>
    <class>jm.com.dpbennett.entity.Laboratory</class>
    <class>jm.com.dpbennett.entity.LegalDocument</class>
    <class>jm.com.dpbennett.entity.Manufacturer</class>
    <class>jm.com.dpbennett.entity.MarketProduct</class>
    <class>jm.com.dpbennett.entity.MarketProductSurvey</class>
    <class>jm.com.dpbennett.entity.PetrolCompany</class>
    <class>jm.com.dpbennett.entity.PetrolPump</class>
    <class>jm.com.dpbennett.entity.PetrolPumpCalibration</class>
    <class>jm.com.dpbennett.entity.PetrolPumpCalibrationValue</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzle</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzleCalibration</class>
    <class>jm.com.dpbennett.entity.PetrolPumpNozzleCalibrationPoint</class>
    <class>jm.com.dpbennett.entity.PetrolStation</class>
    <class>jm.com.dpbennett.entity.PhoneNumber</class>
    <class>jm.com.dpbennett.entity.PortOfEntryDetention</class>
    <class>jm.com.dpbennett.entity.ProductTest</class>
    <class>jm.com.dpbennett.entity.Registration</class>
    <class>jm.com.dpbennett.entity.Report</class>
    <class>jm.com.dpbennett.entity.ReportTableColumn</class>
    <class>jm.com.dpbennett.entity.SampleRequest</class>
    <class>jm.com.dpbennett.entity.Scale</class>
    <class>jm.com.dpbennett.entity.ScaleCompany</class>
    <class>jm.com.dpbennett.entity.Seal</class>
    <class>jm.com.dpbennett.entity.Sector</class>
    <class>jm.com.dpbennett.entity.ServiceContract</class>
    <class>jm.com.dpbennett.entity.StandardsOrganization</class>
    <class>jm.com.dpbennett.entity.Sticker</class>
    <class>jm.com.dpbennett.entity.SystemOption</class>
    <class>jm.com.dpbennett.entity.TestMeasure</class>
    <class>jm.com.dpbennett.entity.JobReportItem</class>
    <class>jm.com.dpbennett.entity.GeneratedForm</class>
    <class>jm.com.dpbennett.entity.JobCostingBatch</class>
    <class>jm.com.dpbennett.entity.Privilege</class>
    <class>jm.com.dpbennett.entity.Service</class>
    <class>jm.com.dpbennett.entity.ServiceRequest</class>
    <class>jm.com.dpbennett.entity.ComplianceSurvey</class>
    <class>jm.com.dpbennett.entity.Country</class>
    <class>jm.com.dpbennett.entity.DocumentStandard</class>
    <class>jm.com.dpbennett.entity.SequenceNumber</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="AccPacPU" transaction-type="RESOURCE_LOCAL">
    <non-jta-data-source>jdbc/__ACCPACDBPool</non-jta-data-source>
    <class>jm.com.dpbennett.entity.AccPacCustomer</class>
    <class>jm.com.dpbennett.entity.AccPacDocument</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
