---
layout: default
---

<div class="container">
    <div class="row">        
        <div class="col-md-12 border-bottom">
            <div class="dropdown centre" style="padding-bottom: 20px;padding-top: 10px;">
                <button class="btn btn-secondary btn-lg dropdown-toggle" 
                        type="button" id="dropdownMenuButton" 
                        data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false">
                    Select a topic
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for post in site.posts %}
                    <h5><a class="dropdown-item" href="{{ post.url }}">
                            {{ post.topic }}
                        </a></h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{content}}
    </div>
    <div class="row">
        <div class="col-md-12 border-top centre">
            <h4>Contents</h4>
            {% for post in site.posts %}
            <h5><a href="{{ post.url }}">{{post.topic}}</a></h5>
            {% endfor %}
        </div>
    </div>
</div>